@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 255 100% 50%;
    --primary-foreground: 210 40% 98%;

    --secondary: 304 100% 90%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 304 100% 90%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 255 100% 50%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 10%;
    --foreground: 210 40% 98%;

    --card: 240 10% 15%;
    --card-foreground: 210 40% 98%;

    --popover: 240 10% 8%;
    --popover-foreground: 210 40% 98%;

    --primary: 255 100% 50%;
    --primary-foreground: 210 40% 98%;

    --secondary: 304 100% 90%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 240 10% 20%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 304 100% 90%;
    --accent-foreground: 240 10% 10%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 240 10% 20%;
    --input: 240 10% 20%;
    --ring: 255 70% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

.vra-gradient {
  background: linear-gradient(135deg, #FFCCF2 0%, #0033FF 100%);
}

.vra-gradient-text {
  background: linear-gradient(135deg, #FFCCF2 0%, #0033FF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.vra-gradient-border {
  border-image: linear-gradient(135deg, #FFCCF2 0%, #0033FF 100%) 1;
}